<footer class="footer">
  <div class="footerbox">
    <div class="iconbox">
      <fa-icon class="facebook" [icon]="facebook"></fa-icon>
      <fa-icon class="twitter" [icon]="twitter"></fa-icon>
      <fa-icon class="youtube" [icon]="youtube"></fa-icon>
    </div>

    <ul class="footerunordered">
      <div class="footertextbox">
        <div class="firstlistbox">
          <li class="firstfooterlist">
            <a class="footerlink" href="#">Info</a>
          </li>

          <li class="firstfooterlist">
            <a class="footerlink" href="#">Support</a>
          </li>

          <li class="firstfooterlist">
            <a class="footerlink" href="#">Marketing</a>
          </li>
        </div>

        <div class="secondlistbox">
          <li class="secondfooterlist">
            <a class="footerlink" href="#">Terms Of Use</a>
          </li>

          <li class="secondfooterlist">
            <a class="footerlink" href="#">Privacy Policy</a>
          </li>
        </div>
      </div>
    </ul>

    <div class="copyrightbox">
      <fa-icon [icon]="copyright"></fa-icon>
      <p style="margin-left: 10px; color: gray">CyberHub</p>
    </div>
  </div>
</footer>
