$font-play: "Play", sans-serif;
$white: #ffffff;
$primary-color: #060650;
$secondary-color: rgb(192, 192, 192);
$letter-spacing: 2px;
$border-radius: 5px;

@mixin navigation-header {
    padding: 2rem 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $primary-color;
    color: $white;

    h4 {
        margin: 0;
        text-align: center;
        letter-spacing: $letter-spacing;
        font-weight: 700;
    }
}

section {
    display: flex;
    align-items: flex-start;
    padding: 5rem 2rem;
    font-family: $font-play;

    .categories-wrapper {
        max-width: 25rem;
        width: 100%;
        margin-right: 1rem;

        .categories-header {
            @include navigation-header();
        }

        .accessories-header {
            margin-top: 4rem;
            @include navigation-header();
        }

        nav {
            ul {
                li {
                    padding: 3rem 0 3rem 2rem;
                    border-radius: $border-radius;
                    border-bottom: 1px solid $secondary-color;
                    color: #000000;
                    transition: all 0.2s ease;
                    cursor: pointer;
                }

                .link-active, li:hover {
                    box-shadow: 0px 3px 3px $secondary-color;
                }

                .link-active {
                    font-weight: 800;
                }
            }
        }
    }

    .router-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1050px) {
    section {
        flex-flow: column;
        align-items: center;

        .categories-wrapper {
            max-width: 40rem;
        }

        .router-box {
            margin-top: 10rem;
        }
    }
}