// Fonts
$font-play: "Play", sans-serif;
$font-saira: "Saira Condensed", sans-serif;

section {
    position: relative;
}

.bigbox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 2px 10px #e2e2e2;
    padding: 100px 0px 200px 0px;

    .cart-h2 {
        text-align: center;
        font-size: 38px;
        font-weight: bold;
        color: darkblue;
        letter-spacing: 1px;
        margin-bottom: 100px;
    }

    .smallbox {
        display: flex;

        .cartbox {
            width: 100%;

            .titlebox {
                display: grid;
                grid-template-columns: repeat(6, minmax(0, 200px));
                padding: 5px;
                text-align: center;

                .name {
                    font-size: 16px;
                    font-family: $font-play;
                }

                .price {
                    font-size: 16px;
                    font-family: $font-play;
                }

                .quantity {
                    font-size: 16px;
                    font-family: $font-play;
                }

                .total {
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    font-family: $font-play;
                    font-weight: bolder;
                }
            }

            .item {
                margin: 10px 0px 20px 0px;
                padding: 5px;
                display: grid;
                grid-template-columns: repeat(6, minmax(0, 200px));
                border-top: 1px solid silver;
                border-bottom: 1px solid silver;

                .item-img {
                    max-width: 100px;
                    width: 100%;
                    height: 90px;
                }

                .item-h6 {
                    font-size: 16px;
                    font-family: $font-play;
                    color: gray;
                    text-align: center;
                }

                .item-price {
                    font-size: 16px;
                    font-family: $font-play;
                    color: gray;
                    text-align: center;
                }

                .item-quantity-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-play;
                    color: gray;

                    .icon-button {
                        font-weight: bold;
                        color: blue;
                    }

                    .item-quantity {
                        margin: 0px 10px 0px 10px;
                        font-size: 17px;
                        color: gray;
                        border: none;
                    }
                }

                .item-overall {
                    font-size: 18px;
                    font-family: $font-play;
                    font-weight: bolder;
                    color: gray;
                    text-align: center;
                }

                .removebox {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mat-fab {
                        border-radius: 3px;
                        font-size: 25px;
                        font-weight: bolder;
                        margin: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: none;
                    }
                }
            }

            .buttonbox {
                display: flex;
                justify-content: space-around;
                margin-top: 50px;

                .clearbutton {
                    width: 200px;
                    height: 50px;
                }

                .gobutton {
                    width: 200px;
                    height: 50px;
                }
            }

            .margin {
                margin: 0px 20px 0px 20px;
            }

            .margin-auto {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
   
        .summarybox {
            background-color: rgba(128, 128, 128, 0.411);
            margin: 0px 20px 0px 20px;
            padding: 10px 40px 10px 40px;
            border-radius: 10px;

            .summary-h3 {
                text-align: center;
                font-size: 26px;
                letter-spacing: 0.5px;
                font-family: $font-play;
                font-weight: bold;
            }

            .selected-h5 {
                margin-top: 50px;
                font-size: 14px;
                text-align: center;
            }

            .item-namebox {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

                .item-names {
                    text-align: center;
                    font-weight: bold;
                }
            }

            .quantity-h5 {
                margin-top: 20px;
                font-size: 14px;
            }

            .shipping-h5 {
                font-size: 14px;
            }

            .tax-h5 {
                font-size: 14px;
            }

            .time-h5 {
                font-size: 14px;
            }

            .total-h4 {
                margin-top: 30px;
                font-size: 18px;
                font-weight: bold;
                text-align: end;
            }

            .checkoutbutton {
                display: flex;
                justify-content: center;
                margin-top: 30px;
            }
        }
    }
}

// Spinner
.spinnerboxhide {
    display: none;
}

.spinnerboxshow {
    position: absolute;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur {
    filter: blur(40px);
}