// Fonts
$font-play: 'Play', sans-serif;
$font-saira: 'Saira Condensed', sans-serif;


.bigbox {
    padding: 20px;
    box-shadow: -2px 2px 10px #e2e2e2;
    padding: 100px 0px 200px 0px;

    .cart-h2 {
        text-align: center;
        font-size: 38px;
        color: darkblue;
        letter-spacing: 1px;
    }

    .cartbox {
        display: flex;
        justify-content: space-between;

        .itembox {

            .item {
                margin: 10px 0px 20px 0px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid silver;
                border-bottom: 1px solid silver;
                
                .item-img {
                    max-width: 100px;
                    width: 100%;
                    height: 90px;
                }

                .item-h6 {
                    font-size: 16px;
                    font-family: $font-play;
                    margin-top: 12px;
                    color: silver;
                    width: 270px;
                }

                .item-price {
                    font-size: 16px;
                    font-family: $font-play;
                    color: rgb(131, 131, 131);
                    max-width: 80px;
                    width: 100%;
                }

                .item-quantity-box {
                    display: flex;
                    align-items: center;
                    font-family: $font-play;
                    color: silver;

                    .icon-button {
                        font-weight: bold;
                        margin: 0px 10px 0px 10px;
                        color: blue;
                    }

                    .quantity {
                        font-size: 17px;
                        color: rgb(131, 131, 131);   
                        border: none;       
                        width: 20px;          
                    }
                }

                .item-overall {
                    font-size: 18px;
                    font-family: $font-play;
                    font-weight: bolder;
                    color: silver;
                    margin-left: 30px;
                    max-width: 100px;
                    width: 100%;
                }

                .margin {
                    margin: 0px 50px 0px 50px;
                }
            }
        }

        .summarybox {

        }
    }

}