<section>
  <div class="bigbox">
    <h2 class="cart-h2">
      Cart <span class="empty-span" *ngIf="items.length == 0">is empty</span>
    </h2>

    <div class="smallbox">
      <div class="cartbox" *ngIf="items.length !== 0">
        <div class="titlebox">
          <br>
          <h4 class="name margin">Name</h4>
          <h4 class="price margin">Price</h4>
          <h4 class="quantity margin">Quantity</h4>
          <h4 class="total">Total Cost</h4>
        </div>

        <div class="itembox">
          <div class="item" *ngFor="let item of items">
            <img class="item-img" [src]="item.imageUrl" />
            <h6 class="item-h6 margin margin-auto">{{ item.name }}</h6>
            <span class="item-price margin margin-auto">{{ item.price }}</span>

            <div class="item-quantity-box margin">
              <button mat-icon-button class="icon-button" (click)="reduceQuantity(item)">
                -
              </button>
              <span class="item-quantity margin-auto">{{ item.quantity }}</span>
              <button mat-icon-button class="icon-button" (click)="increaseQuantity(item)">
                +
              </button>
            </div>

            <span class="item-overall margin-auto">{{ item.quantity * item.price }}</span>
            <div class="removebox">
              <button mat-mini-fab color="warn" class="mat-fab" (click)="removeItem(item)">
                <fa-icon [icon]="xmark"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="summarybox">
        
      </div>
    </div>
  </div>
</section>