<div class="slider-wrapper">
    <swiper [loop]="true" [pagination]="{ clickable: true }" [spaceBetween]="1" [autoplay]="{ delay: 2500, disableOnInteraction: false }" [speed]="1000" class="mySwiper">
        <ng-template swiperSlide><img src="assets/Slider/4090-slider.png" alt="slider1"/></ng-template>
        <ng-template swiperSlide><img src="assets/Slider/gammax-slider.jpg" alt="slider2"/></ng-template>
        <ng-template swiperSlide><img src="assets/Slider/i9-slider.jpg" alt="slider3"/></ng-template>
        <ng-template swiperSlide><img src="assets/Slider/trident-slider.jpg" alt="slider4"/></ng-template>
    </swiper>
</div>