$font-play: "Play", sans-serif;

mat-sidenav {
    max-width: 300px;
    width: 100%;
    background-color: #171717;
}

.headerbox {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(6, 6, 80, 1) 50%, rgba(0, 20, 83, 1) 100%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 20px 0px;
    font-family: $font-play;
    border-bottom: 1px solid blue;

    .logobox {
        display: flex;
        align-items: center;

        .bar {
            font-size: 26px;
            cursor: pointer;
            margin-right: 40px;
        }

        .logo {
            letter-spacing: 14px;
            font-weight: bold;
            font-size: 22px;
            color: black;

            .letter-c {
                color: blue;
            }

            .hub {
                border: 1px solid black;
                border-radius: 5px;
                background-color: black;
                color: blue;
                padding: 0px 4px 1px 15px;
            }
        }
    }

    .unlist {
        display: flex;

        .link {
            margin-left: 20px;
            padding: 9px 20px 9px 20px;
            color: black;
            transition: all 0.2s linear;
            letter-spacing: 2px;
        }

        .link:hover {
            box-shadow: 1px 0px 1px inset;
            background-color: black;
            color: blue;
        }

        .active {
            box-shadow: 1px 0px 1px inset;
            background-color: black;
            color: blue;
        }
    }
}


// Footer