<header class="header">
  <div class="headerbox">
    <div class="logobox">

      <a class="logo" routerLink="/home">
        <span class="letter-c">C</span>yber<span class="hub">Hub</span>
      </a>
    </div>

    <a class="link" routerLink="/build/buildhome" routerLinkActive="active">Shop</a>

    <div class="signbox">
      <button mat-button class="sign">Sign In</button>
      <button mat-button class="register">Register</button>
    </div>
    <div class="badgebox" [matBadge]="items.length" [matBadgeHidden]="items.length === 0" matBadgeOverlap="false">
      <fa-icon [icon]="cart" class="cart" routerLink="/cart"></fa-icon>
    </div>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="menubox">
    <br>
    <mat-menu #builtmenu="matMenu">
      <button mat-menu-item class="menu-inside-button" routerLink="/build/pctype/intel">Intel PC</button>
      <button mat-menu-item class="menu-inside-button" routerLink="/build/pctype/amd">AMD PC</button>
    </mat-menu>
    <button mat-button class="menu-button" [matMenuTriggerFor]="builtmenu">Built PC - s</button>

    <mat-menu #partsmenu="matMenu">
      <button class="menu-inside-button" mat-menu-item routerLink="/build/mobos">Motherboard</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/cpus">Proccessor</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/gpus">Video Card</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/rams">Memory</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/ssds">Solid State Drive</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/hdds">Hard Disk Drive</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/cpu-coolers">Cooler</button>
      <button class="menu-inside-button" mat-menu-item routerLink="/build/cases">Case</button>
    </mat-menu>

    <button mat-button class="menu-button" [matMenuTriggerFor]="partsmenu">PC Parts</button>

    <mat-menu #accessoriesmenu="matMenu">
      <button mat-menu-item class="menu-inside-button">Monitor</button>
      <button mat-menu-item class="menu-inside-button">Keyboard</button>
      <button mat-menu-item class="menu-inside-button">Mouse</button>
      <button mat-menu-item class="menu-inside-button">Headset</button>
    </mat-menu>

    <button mat-button class="menu-button" [matMenuTriggerFor]="accessoriesmenu">PC Accessories</button>
    <br>
  </div>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>