$font-play: "Play", sans-serif;

.header {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(6, 6, 80, 1) 50%, rgba(0, 20, 83, 1) 100%);    
}

.headerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 20px 0px;
    font-family: $font-play;

    .logobox {
        display: flex;
        align-items: center;

        .bar {
            font-size: 26px;
            margin-right: 40px;
            cursor: pointer;
        }

        .logo {
            letter-spacing: 14px;
            font-weight: bold;
            font-size: 22px;
            color: black;

            .letter-c {
                color: blue;
            }

            .hub {
                border-radius: 3px;
                background-color: black;
                color: blue;
                padding: 0px 0px 1px 13px;
            }
        }
    }

    .unlist {
        display: flex;

        .link {
            margin-left: 20px;
            padding: 9px 20px 9px 20px;
            letter-spacing: 2px;
            transition: all 0.2s linear;
            color: white;
        }

        .link:hover {
            
        }
    }

    .cart {
        font-size: 20px;
        color: gray;
        cursor: pointer;
    }
}

.divider {
    background-color: white;
}

// Menu
.menubox {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}


// Footer