$font-play: "Play", sans-serif;

.header {
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(6, 6, 80, 1) 50%, rgba(0, 20, 83, 1) 100%);

  .show {
    display: none;
  }
}

.headerbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 20px 5px;
  font-family: $font-play;

  .logobox {
    display: flex;
    align-items: center;

    .logo {
      letter-spacing: 14px;
      font-weight: bold;
      font-size: 26px;
      color: rgb(233, 233, 233);

      .letter-c {
        color: blue;
      }

      .hub {
        border-radius: 3px;
        background-color: rgb(235, 235, 235);
        color: blue;
        padding: 0px 0px 1px 13px;
      }
    }
  }

  .bars {
    display: none;
  }

  .list {
    display: flex;
  }

  .link {
    margin-left: 20px;
    padding: 9px 20px 9px 20px;
    letter-spacing: 2px;
    color: white;
    transition: all 0.2s linear;
  }

  .link:hover {
    color: gray;
  }

  .signbox {
    color: white;

    .sign {
      margin-right: 15px;
      border-radius: 0px;
      font-family: $font-play;
      color: blue;
      border: 1px solid blue;
      border-color: blue;
      transition: all 0.2s linear;
    }

    .sign:hover {
      background-color: blue;
      color: white;
    }

    .register {
      margin-left: 15px;
      border-radius: 0px;
      font-family: $font-play;
      color: rgb(0, 221, 0);
      border: 1px solid rgb(0, 221, 0);
      transition: all 0.2s linear;
    }

    .register:hover {
      background-color: rgb(0, 221, 0);
      color: white;
    }
  }

  .badgebigbox {
    display: flex;

    .badgebox {
      font-size: 20px;
      color: rgb(224, 224, 224);
      cursor: pointer;
    }

    .margin {
      margin-right: 30px;
    }
  }
}

.divider {
  background-color: white;
}

// Menu
.menubox {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: white;

  .menu-button {
    font-family: $font-play;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 7px;
    transition: all 0.2s ease;
  }

  .menu-button:hover {
    box-shadow: 0px -1px inset;
  }
}

// Responsive

@media (max-width: 925px) {
  .signbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sign {
      margin: 0px 0px 5px 15px;
    }

    .register {
      margin: 5px 15px 0px 0px;
    }
  }
}

@media (max-width: 830px) {
  .list {
    flex-direction: column;
  }
}

@media (max-width: 625px) {
  .list {
    font-size: 13px;
  }

  .badgebigbox {
    flex-direction: column;
    align-items: center;

    .badgebox {
      margin-top: 20px;
    }

    .margin {
      margin-left: 30px;
    }
  }
}

@media (max-width: 570px) {
  .navigation {
    display: none;
  }

  .badgebigbox {
    display: none;

    .badgebox {
      display: none;
    }
  }

  .divider {
    display: none;
  }

  .signbox {
    display: none;
  }

  .menubox {
    display: none;
  }

  // Responsive

  // Bar
  .bars {
    display: block !important;
    width: 70%;
    color: white;
    font-size: 26px;
    text-align: end;
    cursor: pointer;
  }

  .show {
    display: block;
  }

  .responsivebox {
    display: flex;
    flex-direction: column;
    align-items: center;

    // Sign Buttons
    .responsive-signbox {
      margin-top: 30px;
      color: white;

      .responsive-sign {
        margin-right: 15px;
        border-radius: 0px;
        font-family: $font-play;
        color: red;
        border: 1px solid red;
        border-color: red;
        transition: all 0.2s linear;
      }

      .responsive-sign:hover {
        background-color: red;
        color: white;
      }

      .responsive-register {
        margin-left: 15px;
        border-radius: 0px;
        font-family: $font-play;
        color: rgb(0, 221, 0);
        border: 1px solid rgb(0, 221, 0);
        border-color: rgb(0, 221, 0);
        transition: all 0.2s linear;
      }

      .responsive-register:hover {
        background-color: rgb(0, 221, 0);
        color: white;
      }
    }

    // Badges
    .responsive-badgebigbox {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 50px 0px 30px 0px;

      .responsive-badgebox {
        font-size: 20px;
        color: rgb(224, 224, 224);
        cursor: pointer;
      }
    }

    // Navigation
    .responsive-navigation {
      width: 100%;
      margin: 30px 0px 30px 0px;

      .responsive-list {
        display: flex;
        justify-content: space-around;

        .responsive-link {
          color: white;
          letter-spacing: 2px;
          transition: all 0.2s linear;
        }

        .responsive-link:hover {
          color: gray;
        }
      }
    }

    // Divider
    .responsive-divider {
      background-color: white;
      width: 100%;
    }

    // Menu
    .responsive-menubox {
      margin: 20px 0px 20px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      color: white;

      .menu-button {
        font-family: $font-play;
        font-size: 14px;
        letter-spacing: 0.5px;
        border-radius: 7px;
        transition: all 0.2s ease;
      }

      .menu-button:hover {
        box-shadow: 0px -1px inset;
      }
    }
  }
}

@media (min-width: 571px) {
  .responsivebox {
    display: none;
  }
}
