$font-play: "Play", sans-serif;

.header {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(6, 6, 80, 1) 50%, rgba(0, 20, 83, 1) 100%);
}

.headerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 20px 0px;
    font-family: $font-play;

    .logobox {
        display: flex;
        align-items: center;

        .logo {
            letter-spacing: 14px;
            font-weight: bold;
            font-size: 22px;
            color: rgb(233, 233, 233);

            .letter-c {
                color: blue;
            }

            .hub {
                border-radius: 3px;
                background-color: rgb(235, 235, 235);
                color: blue;
                padding: 0px 0px 1px 13px;
            }
        }
    }

    .list {
        display: flex;
    }

    .link {
        margin-left: 20px;
        padding: 9px 20px 9px 20px;
        letter-spacing: 2px;
        color: white;
        transition: all 0.2s linear;
    }

    .link:hover {
        color: gray;
    }

    .signbox {
        color: white;

        .sign {
            margin-right: 5px;
            border-radius: 0px;
            font-family: $font-play;
        }

        .register {
            font-family: $font-play;
            border-radius: 0px;
        }
    }

    .badgebigbox {
        display: flex;

        .badgebox {
            font-size: 20px;
            color: rgb(224, 224, 224);
            cursor: pointer;
        }

        .margin {
            margin-right: 30px;
        }
    }
}

.divider {
    background-color: white;
}

// Menu
.menubox {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;

    .menu-button {
        font-family: $font-play;
        font-size: 14px;
        letter-spacing: 0.5px;
        border-radius: 7px;
        transition: all 0.2s ease;
    }

    .menu-button:hover {
        box-shadow: 0px -1px inset;
    }
}

// Footer
