$font-play: 'Play', sans-serif;

.body {background-image: url('/assets/Backgrounds/background-gaming.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


    .headerbox {
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(6,6,80,1) 50%, rgba(0,20,83,1) 100%);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        font-family: $font-play;
        border-bottom: 1px solid blue;

        .logo {
            letter-spacing: 14px;
            font-weight: bold;
            font-size: 22px;
            color: black;

            .letter-c {
                color: blue;
            }

            .hub {
                border: 1px solid black;
                border-radius: 5px;
                background-color: black;
                color: blue;
                padding: 0px 4px 1px 15px;
            }
        }

        .unlist {
            display: flex; 

            .link {
                margin-left: 20px;
                padding: 9px 20px 9px 20px;
                color: black;
                transition: all 0.2s linear;
                letter-spacing: 2px;
            }
        
            .link:hover {
                box-shadow: 1px 0px 1px inset;
                background-color: black;
                color: blue;
            }

            .active {
                box-shadow: 1px 0px 1px inset;
                background-color: black;
                color: blue;
            }
        }

    }

}


// Footer


.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: $font-play;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,5,78,1) 100%);

    .footerbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        // Icons


        .iconbox {
            display: flex;
            font-size: 26px;

            .facebook {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                margin-right: 20px;
                border-radius: 50%;
                background-color: black;
                color: white;
            }

            .twitter {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                margin-right: 20px;
                border-radius: 50%;
                background-color: black;
                color: white;
            }

            .youtube {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                padding: 10px;
                border-radius: 50%;
                background-color: black;
                color: white;
            }

        }


        // Text

        .footertextbox {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-left: 17px;
            
            .footerlink {
                color: white;
                text-align: center;
                margin-right: 15px;
            }

            .firstlistbox {
                margin-top: 50px;
                display: flex;
                margin-bottom: 20px;
                padding-left: 9px;
            }

            .secondlistbox {
                display: flex;
                
            }

        }


        // Copyright


        .copyrightbox {
            display: flex;
            margin-top: 30px;
            color: white;
            font-size: 14px;
            cursor: default;
            margin-bottom: 20px;
        }
    }

}