@media (min-width: 1800px) {
    .gridbox {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media (min-width: 1580px) {
    .gridbox {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (min-width: 1470px) {
    .gridbox {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 1470px) {
    .gridbox {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    .gridbox {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 800px) {
    .gridbox {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 650px) {
    .gridbox {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 450px) {
  
    .bigbox {
      flex-direction: column;
    }

    .biglistbox {
        margin-left: 50px;
        margin-bottom: 100px;
    }

    .gridbox {
        margin: 0px 20px 0px 20px;
    }
}