<h2 class="header-h2" id="quick-shopping">Browse Game - Ready PC-s</h2>

<div class="pcs-wrapper">
    <div class="pcbox" *ngFor="let pc of completedBuilds">
        <div class="pc-header-wrapper">
            <h4 *ngIf="pc.id === 122" [class.extreme-h4]="pc.id === 122">Extreme</h4>
            <h4 *ngIf="pc.id === 125" [class.highend-h4]="pc.id === 125">High End</h4>
            <h4 *ngIf="pc.id === 131" [class.budget-h4]="pc.id === 131">Budget</h4>
        </div>

        <img [src]="pc.imageUrl" alt="pc-image">

        <ul>
            <li>{{pc.mobo}}</li>
            <li>{{pc.gpu}}</li>
            <li>{{pc.cpu}}</li>
            <li>{{pc.ram}}</li>
            <li>{{pc.memory}}</li>
            <li>{{pc.cooling}}</li>
        </ul>

        <div class="button-wrapper">
            <button mat-button [ngClass]="{'red-button': pc.id === 122, 'blue-button': pc.id === 125, 'yellow-button': pc.id === 131}" [routerLink]="['/assembly/parts', 9]">Shop Now</button>
        </div>
    </div>
</div>