<h3 class="head-h">New Manufacturer Products</h3>

<div class="manufacturersbox">
    <div class="manufacturer-header-wrapper">
        <h3 class="header-h">NZXT Kraken 120 Series</h3>
        <h5 class="header-h5"><span style="color: rgb(0, 153, 255);">Liquid</span> Coolers With Displays</h5>
    </div>
  
    <div class="manufacturer-box-wrapper">
        <img src="assets/NZXT/nzxt-pump.png" alt="image" />

        <div class="manufacturer-textbox">
            <h4>New Pump Control System</h4>
            <p>
                New pump control system has reduced the usage of power and increased
                the efficiency. All new Kraken series Cpu Coolers have implemented
                new display system, which provides an absolute control over cooling
                proccess in every detail.
            </p>
        </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="manufacturer-box-wrapper">
        <div class="manufacturer-textbox">
            <h4>RGB Mode</h4>
            <p>
                Chained colors, Circle mode, Rainbow... NZXT RGB controller can now
                integrate with your Motherboard to give you best possible experience
                with controling RGB colors and lighting modes.
            </p>
        </div>

        <img src="assets/NZXT/nzxt-rgb.png" />
    </div>

    <div class="manufacturer-header-wrapper">
        <h3 class="header-h3">Buy Now</h3>
        <h6 class="header-h6">NZXT<span style="color: white"> White</span> Series</h6>
    </div>
  
    <div class="nzxtbox-wrapper">
        <div class="nzxt-box">
            <span class="nzxt-span">Z 73 RGB</span>
            <img src="assets/NZXT/kraken-z73.png" />
            <span class="price-span">369.99$</span>
            <button mat-button [routerLink]="['/assembly/parts', 7]">Buy</button>
        </div>

        <mat-divider></mat-divider>

        <div class="nzxt-box">
            <span class="nzxt-span">X 73 RGB</span>
            <img src="assets/NZXT/kraken-x73.png" />
            <span class="price-span">189.99$</span>
            <button mat-button class="nzxt-button" [routerLink]="['/assembly/parts', 7]">Buy</button>
        </div>
    </div>
</div>