$primary-color: rgb(0, 0, 255);
$secondary-color: rgb(192, 192, 192);
$font-play: "Play", sans-serif;
$font-saira: "Saira Condensed", sans-serif;
$font-dosis: "Dosis", sans-serif;
$headingh2-size: 4rem;
$section-background-color: rgba(0, 0, 0, 0.5);
$letter-spacing: 0.3rem;
$line-height: 4rem;

.header-h2 {
    margin: 0 0 10rem 1rem;
    font-size: $headingh2-size;
    letter-spacing: 0.3rem;
    font-family: $font-play;
    color: #ffffff;
    font-weight: bold;
    line-height: $line-height;
}

.manufacturersbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-saira;

    .manufacturer-header-wrapper {
        text-align: center;

        .header-h3 {
            color: #ffffff;
            font-size: 3.2rem;
            border-bottom: 1px solid #ffffff;
            letter-spacing: $letter-spacing;
            margin: 0 3rem;
            padding-bottom: 1rem;
            line-height: $line-height - 1rem;
        }

        .header-h4 {
            font-size: 2.6rem;
            letter-spacing: $letter-spacing;
            margin: 1rem 0 0 0;
            color: rgb(233, 233, 233);
            line-height: $line-height - 1rem;
        }

        .header-h4-buynow {
            font-size: 3.2rem;
            font-weight: 800;
            color: $secondary-color;
            letter-spacing: $letter-spacing;
            padding: 0px 3rem 1.2rem 3rem;
            border-bottom: 1px solid silver;
        }

        .header-h5-white-series {
            font-size: 2.6rem;
            font-weight: 800;
            color: $secondary-color;
            letter-spacing: 3px;
            margin: 1rem 0px 5rem 0px;
        }
    }

    .manufacturer-box-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10rem 0;
        padding: 1rem 0;
        width: 90%;
        background-color: $section-background-color;
        color: $secondary-color;

        img {
            max-width: 40rem;
            width: 100%;
        }

        .manufacturer-textbox {
            display: flex;
            flex-direction: column;
            padding: 0px 5rem 0px 5rem;

            h5 {
                color: #ffffff;
                margin-bottom: 1.5rem;
                font-size: 2.2rem;
                letter-spacing: 1px;
                font-family: $font-saira;
                font-weight: 800;
                line-height: $line-height - 1rem;
            }

            p {
                font-size: 1.8rem;
                letter-spacing: 1px;
                line-height: 2.8rem;
                font-weight: 800;
            }
        }
    }

    .divider {
        width: 90%;
        background-color: $secondary-color;
    }

    .nzxtbox-wrapper {
        display: flex;
        justify-content: space-around;
        padding-top: 1.5rem;
        border-radius: 10px;
        background: rgb(196, 196, 196);
        background: radial-gradient(circle, rgba(196, 196, 196, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
        width: 90%;

        mat-divider {
            width: 100%;
            margin: 2rem 0;
            background-color: #ffffff;
            display: none;
        }

        .nzxt-box {
            display: flex;
            flex-direction: column;
            text-align: center;

            img {
                max-width: 25rem;
                width: 100%;
            }

            .price-span {
                font-weight: bold;
                margin: 2rem 0 2rem 0;
                font-size: 2rem;
                letter-spacing: 1px;
                color: $secondary-color;
            }

            .nzxt-span {
                color: $secondary-color;
                font-size: 2.4rem;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }

            button {
                font-size: 1.8rem;
                font-weight: bolder;
                color: $secondary-color;
                padding: 0.5rem;
                margin-bottom: 2rem;
                letter-spacing: 0.2rem;
                border: 1px solid #ffffff;
                border-radius: 50px;
                transition: all 0.2s linear;
                cursor: pointer;
            }

            button:hover {
                background-color: $secondary-color;
                color: black;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .manufacturersbox {
        .manufacturer-box-wrapper {
            flex-flow: column-reverse;
        }

        .manufacturer-box-wrapper:nth-child(2) {
            flex-flow: column;
        }

        .nzxtbox-wrapper {
            flex-flow: column;
            align-items: center;

            mat-divider {
                display: block;
            }

            button {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .header-h2 {
        font-size: 2.8rem;
    }

    .manufacturersbox {
        .manufacturer-header-wrapper {
            .header-h3 {
                font-size: 2.4rem;
            }

            .header-h4 {
                font-size: 2.2rem;
            }

            .header-h4-buynow {
                font-size: 2.2rem;
            }

            .header-h5-white-series {
                font-size: 2rem;
            }
        }

        .manufacturer-box-wrapper {
            .manufacturer-textbox {
                h5 {
                    font-size: 2rem;
                }
            }
        }

        .manufacturer-box-wrapper {
            img {
                max-width: 30rem;
            }
        }

        .nzxtbox-wrapper {
            .nzxt-box {
                img {
                    max-width: 20rem;
                }
                
                .nzxt-span {
                    font-size: 1.8rem;
                }

                button {
                    font-size: 1.4rem;
                }

                .price-span {
                    font-size: 1.6rem;
                }

            }
        }
    }
}
