<div class="filterbox-gridbox-wrapper">
    <div class="filterbox">
        
        <div class="slider-wrapper">
            <mat-slider color="primary" [value]="slider_min_value" [min]="slider_min_value" [max]="slider_max_value" #price_slider></mat-slider>
            <span>0 - {{price_slider.value}}$</span>
            <button mat-flat-button color="primary" (click)="sortItemsBySliderValue(price_slider.value)">Apply</button>
        </div>

        <div class="filter-button-wrapper">
            <button *ngIf="pcPartName === 'mobo'" mat-button (click)="removeDuplicatesForMatMenu('socket')" [matMenuTriggerFor]="matmenu">Socket</button>
            <button *ngIf="pcPartName === 'ram'" (click)="removeDuplicatesForMatMenu('memory')" mat-button [matMenuTriggerFor]="matmenu">Memory</button>
            <button *ngIf="pcPartName === 'hdd' || pcPartName === 'ssd'" (click)="removeDuplicatesForMatMenu('memory')" mat-button [matMenuTriggerFor]="matmenu">Memory Capacity</button>
            <button *ngIf="pcPartName === 'psu'" (click)="removeDuplicatesForMatMenu('power')" mat-button [matMenuTriggerFor]="matmenu">Wattage Power</button>
            <button *ngIf="pcPartName === 'psu'" (click)="removeDuplicatesForMatMenu('efficiency')" mat-button [matMenuTriggerFor]="matmenu">Efficiency</button>
            <button *ngIf="pcPartName === 'cpu-cooler'" (click)="removeDuplicatesForMatMenu('type')" mat-button [matMenuTriggerFor]="matmenu">Type</button>
            <button mat-button [matMenuTriggerFor]="priceMenu">Sort By Price</button>
            <button mat-button [matMenuTriggerFor]="nameMenu">Sort By Name</button>
            <button mat-button class="manufacturer-button" (click)="removeDuplicatesForMatMenu('manufacturer')" [matMenuTriggerFor]="manufacturerMenu">Manufacturer</button>
            <button mat-flat-button color="warn" (click)="downloadApiData()">Reset</button>
        </div>

        <mat-menu #matmenu>
            <button mat-button *ngFor="let menuItems of MAT_MENU_ITEMS" (click)="filterItemsByMatMenuItems(menuItems)">{{menuItems}}</button>
        </mat-menu>

        <mat-menu #priceMenu>
            <button mat-button (click)="sortItemsByParamValue('hightolow')">High To Low</button>
            <button mat-button (click)="sortItemsByParamValue('lowtohigh')">Low To High</button>
        </mat-menu>

        <mat-menu #nameMenu>
            <button mat-button (click)="sortItemsByParamValue('ascending')">Ascending</button>
            <button mat-button (click)="sortItemsByParamValue('descending')">Descending</button>
        </mat-menu>

        <mat-menu #manufacturerMenu>
            <button mat-button *ngFor="let menuItems of MAT_MENU_ITEMS" (click)="filterItemsByManufacturer(menuItems)">{{menuItems}}</button>
        </mat-menu>
    </div>

    <div class="gridbox-wrapper">
        <div class="gridbox" *ngFor="let item of data">

            <div class="icon-wrapper">
                <img src="assets/Icons/cart.png" alt="cart" (click)="sendItemToCartOrWishList(item, 'cart')" (click)="displaySnackMessage('Item Added To Cart', 'Dismiss')">
                <img src="assets/Icons/heart.png" alt="wishlist" (click)="sendItemToCartOrWishList(item, 'wishlist')" (click)="displaySnackMessage('Item Added To Wishlist', 'Dismiss')">
            </div>
            
            <img [src]="item.imageUrl" alt="image">
            
            <div class="text-wrapper">
                <span class="item-name-span">{{item.name}}</span>
                <span class="if-spans" *ngIf="item.power">{{item?.power}}W</span>
                <span class="if-spans" *ngIf="item.switch">{{item?.switch}}</span>
                <span class="if-spans" *ngIf="item.socket">{{item?.socket}}</span>
                <span class="if-spans" *ngIf="item.memory">{{item?.memory}}</span>
                <span class="if-spans" *ngIf="item.wireless">{{item?.wireless}}</span>
                <span class="item-price-span">{{item.price}}$</span>
            </div>

            <button mat-button (click)="sendItemToCartOrWishList(item, 'cart')" (click)="displaySnackMessage('Item Added To Cart', 'Dismiss')">Add To Cart</button>
            <div class="div"></div>
        </div>
    </div>
</div>