$white: #ffffff;
$primary-color: rgb(0, 0, 255);
$secondary-color: rgb(192, 192, 192);
$font-play: "Play", sans-serif;
$box-shadow: -2px 2px 10px $secondary-color;

$grid-row-size: 20rem;
$filter-row-size: 16rem;


.filterbox-gridbox-wrapper {
    .filterbox {
        display: grid;
        grid-template-columns: repeat(9, minmax(0, $filter-row-size));
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: 5px;
        box-shadow: $box-shadow;

        mat-slider {
            width: 90%;
            margin: auto 0 auto auto;
        }

        .mat-slider-horizontal {
            min-width: 0;
        }

        span {
            margin: auto;
            font-size: 1.6rem;
        }

        button {
            margin: auto;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            letter-spacing: 0.5px;
        }

        .apply-button {
            margin: auto auto auto 0;
        }

        .filter-button {
            border: 1px solid transparent;
            font-weight: 400;
            padding: 0;
        }

        .filter-button:hover {
            color: blue;
            border: 1px solid $secondary-color;
        }
    }

    .gridbox-wrapper {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(7, minmax(0, $grid-row-size));

        .gridbox {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            box-shadow: $box-shadow;
            border-radius: 5px;

            .icon-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 0px;
                    height: 20px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                }
            }

            img {
                width: 60%;
                height: 30%;
            }

            .text-wrapper {
                display: flex;
                flex-flow: column;
                text-align: center;
                margin-top: 3rem;

                span:nth-child(2) {
                    margin: 1rem 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .if-spans {
                    margin: 1rem 0;
                }
            }

            button {
                display: flex;
                align-items: center;
                padding: 0 2rem;
                height: 30px;
                border: 1px solid $secondary-color;
                font-size: 1.3rem;
                font-weight: 400;
            }
        }

        .gridbox:hover {
            .icon-wrapper {
                img {
                    width: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1700px) {
    .filterbox-gridbox-wrapper {
        .filterbox {
            grid-template-columns: repeat(9, minmax(0, $filter-row-size - 2));
        }

        .gridbox-wrapper {
            grid-template-columns: repeat(6, minmax(0, $grid-row-size));
        }
    }
}

@media only screen and (max-width: 1400px) {
    .filterbox-gridbox-wrapper {
        .filterbox {
            grid-template-columns: repeat(9, minmax(0, $filter-row-size - 4));
        }
        
        .gridbox-wrapper {
            grid-template-columns: repeat(5, minmax(0, $grid-row-size));
        }
    }
}

@media only screen and (max-width: 1250px) {
    .filterbox-gridbox-wrapper {
        .filterbox {
            grid-template-columns: repeat(9, minmax(0, $filter-row-size - 6));

            span {
                margin: auto 0 auto auto;
            }

            .apply-button {
                margin: auto 0 auto auto;
            }

            button {
                font-size: 1.2rem;
            }
        } 

        .gridbox-wrapper {
            grid-template-columns: repeat(4, minmax(0, $grid-row-size));
        }
    }
}

@media only screen and (max-width: 1050px) {
    .filterbox-gridbox-wrapper {
        .filterbox {
            grid-template-columns: repeat(8, minmax(0, $filter-row-size - 8.3));
        }

        .gridbox-wrapper {
            grid-template-columns: repeat(3, minmax(0, $grid-row-size));
        }
    }
}

@media only screen and (max-width: 700px) {
    .filterbox-gridbox-wrapper {
        .filterbox {
            grid-template-columns: repeat(5, minmax(0, $filter-row-size - 8));
        }

        .gridbox-wrapper {
            grid-template-columns: repeat(2, minmax(0, $grid-row-size));
        }
    }
}

@media only screen and (max-width: 470px) {
    .filterbox-gridbox-wrapper {
        .filterbox {
            grid-template-columns: repeat(3, minmax(0, $filter-row-size - 8rem));
            padding: 0.5rem;
            
            span {
                font-size: 1.3rem;
                margin: auto;
            }

            .filter-button {
                margin: 1rem 0;
            }

            .apply-button, .reset-button {
                margin: auto;
                min-width: 0;
                letter-spacing: 0;
                padding: 0 6px;
            }

            .reset-button {
                margin-left: auto;
            }
        }

        .gridbox-wrapper {
            grid-template-columns: repeat(1, minmax(0, $grid-row-size + 5rem));
        }
    }
}