// Fonts

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap'); // 'Play', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap'); // 'Saira Condensed', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); // 'Roboto', sans-serif;


// Reset

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body,
html {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}