$font-play: 'Play', sans-serif;
$font-saira: 'Saira Condensed', sans-serif;
$font-dosis: 'Dosis', sans-serif;

.section1 {
    padding: 200px 0px 400px 0px;

    .h1 {
        font-size: 32px;
        text-align: center;
        margin: 100px 0px 400px 0px;
        font-family: $font-play;
    }

    .bigbox {
        background-color: rgba(0, 0, 0, 0.514);

        .mainbox {
            display: flex;
            flex-direction: column;
            align-items: center;

            .browse-h2 {
                letter-spacing: 3px;
                font-size: 36px;
                color:white;
                font-family: $font-play;
                font-weight: bold;
                margin: 50px 0px 70px 0px;
            }

            .browsebigbox {
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding-bottom: 50px;

                .browsebox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;  
                    padding-top: 25px;
                    border: 1px solid black;
                    transition: all 0.2s linear;

                    .browsephotos {
                        object-fit: contain;
                        width: 230px;
                        height: 200px;
                        padding: 10px;
                    }

                    .spanbox {
                        display: flex;
                        width: 100%;
                        padding: 15px;
                        margin-top: 20px;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.548);

                        .browsespan {
                            max-width: 110px;
                            width: 100%;
                            text-align: center;
                            padding: 14px;
                            font-family: $font-dosis;
                            font-weight: bold;
                            border: 1px solid blue;
                            border-radius: 40px;
                            font-size: 14px;
                            letter-spacing: 2px;
                            color: blue;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                        }

                        .browsespan:hover {
                            background-color: blue;
                            color: black;
                        }
                    }

                }

                .browsebox:hover {
                    border-color: blue;
                }

            }
        }

        .stock-h {
            text-align: center;
            font-size: 36px;
            margin-top: 400px;
            color:white;
            font-family: $font-play;
            letter-spacing: 3px;
            font-weight: bold;
        }

        
        // Commerce


        .commercebox {
            margin: 100px 0px 400px 0px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            font-family: $font-play;

            .nowinstock {
                background: rgb(31,31,31);
                background: radial-gradient(circle, rgba(31,31,31,0.6965161064425771) 0%, rgba(0,0,0,0.6965161064425771) 100%);
                color: white;
                text-align: center;
                padding: 20px;
                letter-spacing: 1px;

                .gtx1060-span {
                    font-size: 18px;
                    color: rgb(135, 253, 0);
                    letter-spacing: 3px;
                }
            
            }

            .gtx1060 {
                max-width: 600px;
                width: 100%;
                max-height: 400px;
                object-fit: cover;
            }

            .buy-1060 {
                color: rgb(135, 253, 0);
                padding: 20px;
                background: black;
                text-align: center;
                letter-spacing: 5px;
                font-weight: bolder;
                cursor: pointer;
                transition: all 0.3s linear;
            }

            .buy-1060:hover {
                background: rgb(135, 253, 0);
                color: black;
            }


            // Arctis


            .arctisbox {

                .newinstock {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    flex-wrap: wrap;
                    max-width: 600px;
                    width: 100%;
                    background: rgb(31,31,31);
                    background: radial-gradient(circle, rgba(31,31,31,0.6965161064425771) 0%, rgba(0,0,0,0.6965161064425771) 100%);
                    padding: 20px;
                    letter-spacing: 1px;
                    color: white;

                    .arctis-p {
                        margin-bottom: 5px;
                        font-size: 22px;
                    }

                    .arctis-span {
                        color: blue;
                        letter-spacing: 3px;
                        font-size: 18px;
                    }
                }

                .arctis {
                    max-width: 600px;
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }

                .buy-arctis {
                    padding: 20px;
                    color: blue;
                    background: black;
                    text-align: center;
                    letter-spacing: 5px;
                    font-weight: bolder;
                    cursor: pointer;
                    transition: all 0.3s linear;
                }

                .buy-arctis:hover {
                    color: black;
                    background-color: blue;
                }
            }

        }

    }


    // Arrivals


    .newmanufacturers-h {
        margin: 100px 0px 100px 10px;
        font-size: 36px;
        letter-spacing: 3px;
        font-family: $font-play;
        color: white;
        font-weight: bold;
    }

    .manufacturersbox {
        background-image: url('/assets/NZXT/nzxt-new.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $font-saira;

        .kraken-h {
            color: white;
            font-size: 42px;
            border-bottom: 1px solid white;
            letter-spacing: 4px;
            padding: 0px 14px 5px 14px;
            margin-bottom: 10px;
        }

        .kraken-display {
            font-size: 22px;
            letter-spacing: 3px;
            margin-bottom: 50px;
            color: gray;
        }

        // Pump

        .pumpbox {
            display: flex;
            align-items: center;
            justify-content: space-around;
            // flex-wrap: wrap;
            margin: 100px 0px 100px 0px;
            padding: 20px;

            .pump {
                max-width: 600px;
                width: 100%;
            }

            .pump-h {
                margin-bottom: 10px;
                font-size: 36px;
                letter-spacing: 1px;
                color: white;
                text-align: center;
            }

            .pump-p {
                padding: 0px 50px 0px 50px;
                font-size: 20px;
                color: rgb(207, 207, 207);
                letter-spacing: 1px;
            }
        }

        // Rgb

        .nzxt-rgbbox {
            border-top: 1px solid silver;
            display: flex;
            align-items: center;
            padding-top: 150px;
            margin: 0px 90px 300px 90px;

            .nzxt-rgb-h {
                font-size: 36px;
                color: white;
                text-align: center;
                letter-spacing: 2px;
                margin-bottom: 10px;
            }

            .nzxt-rgb-p {
                font-size: 20px;
                letter-spacing: 1px;
                color: rgb(207, 207, 207);
                padding: 0px 50px 0px 50px;
            }

            .nzxt-rgb {
                max-width: 600px;
                width: 100%;
            }
        }

        // Kraken - Buy

        .buy-now {
            font-size: 34px;
            color: silver;
            letter-spacing: 3px;
            padding: 0px 25px 0px 25px;
            border-bottom: 1px solid silver;
        }

        .buy-white {
            font-size: 22px;
            color: silver;
            letter-spacing: 3px;
            margin: 10px 0px 50px 0px;
        }

        .nzxt-buy-box {
            display: flex;
            justify-content: space-around;
            background: rgb(196,196,196);
            background: radial-gradient(circle, rgba(196,196,196,0.6) 0%, rgba(255,255,255,0.6) 100%);
            width: 100%;

            .nzxtboxes {
                display: flex;
                flex-direction: column;
                text-align: center;

                .z73 {
                    width: 250px;
                }

                .x73 {
                    width: 250px;
                }

                .price-span {
                    font-weight: bold;
                    margin: 20px 0px 20px 0px;
                    font-size: 20px;
                    letter-spacing: 1px;
                    color: white;
                }

                .nzxt-span {
                    color: white;
                    font-size: 24px;
                    letter-spacing: 1px;
                }

                .span-buy {
                    font-size: 18px;
                    font-weight: bolder;
                    color: white;
                    padding: 10px;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                    border: 1px solid white;
                    border-radius: 50px;
                    transition: all 0.2s linear;
                    cursor: pointer;
                }

                .span-buy:hover {
                    background-color: white;
                    color: black;
                }
            }
        
        }

    }



    // News


    
    .news-h {
        margin: 200px 0px 50px 10px;
        letter-spacing: 3px;
        font-size: 36px;
        color: white;
        font-family: $font-play;
    }


    .newsbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        font-family: $font-play;

        .ngfor-news {
            display: flex;
            padding: 35px 0px 35px 0px; 
            max-width: 70%;
            color: gray;
            border-bottom: 1px solid gray;
        }

        .news-images {
            max-width: 230px;
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .news-text-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 30px;
            margin-left: 10px;
            cursor: default;
            text-align: center;

            .news-title {
                font-size: 20px;
                transition: all 0.1s linear;
            }

            .news-title:hover {
                color: blue;
            }
        }

    }
}


// Build ( Section II )


.section2 {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .build-h2 {
        margin: 100px 10px 50px 0px;
        font-size: 44px;
        font-family: $font-dosis;
        letter-spacing: 2px;
        color: white;
    }

    .bigboxgrid {
        color: white;
        font-family: $font-saira;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 50px 0px 100px 0px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        .assemblebox {
            margin: 0px 30px 30px 0px;
            border-radius: 5px;
            background-color: rgb(0, 0, 0);

            .partbox {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 25px;
                border: 1px solid transparent;
                transition: all 0.1s linear;
                cursor: pointer;

                .image {
                    width: 60px;
                    margin-bottom: 5px;
                }
            }

            .partbox:hover {
                border-color: rgb(160, 0, 160);
            }
        }
    }

}