$secondary-color: rgb(192, 192, 192);
$font-play: "Play", sans-serif;
$font-saira: "Saira Condensed", sans-serif;
$font-dosis: "Dosis", sans-serif;

$white: #ffffff;
$gpu-color: rgb(135, 253, 0);
$headset-color: rgb(0, 0, 255);

@mixin gpu-headset-button {
    padding: 10px;
    margin-top: 2px;
    background: black;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s linear;
}

.bodybox {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .header-section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        h1 {
            font-size: 3.6rem;
            line-height: 5rem;
            font-family: $font-play;
            color: $white;
        }

        .shopbutton-box {
            display: flex;
            justify-content: center;

            .shop-button {
                padding: 2rem 5rem 2rem 5rem;
                background-color: transparent;
                color: #ffffff;
                font-weight: 800;
                font-size: 1.66rem;
                letter-spacing: 1px;
                font-family: $font-play;
                border: 3px solid blue;
                border-radius: 30px;
                transition: all 0.2s linear;
                cursor: pointer;
            }

            .shop-button:hover {
                background-color: blue;
                color: white;
            }
        }
    }

    .gpu-headset-section {
        height: 100vh;

        .gpubox-headsetbox-wrapper {
            font-family: $font-play;
            padding-top: 20px;
            background-color: rgba(0, 0, 0, 0.5);

            h3 {
                text-align: center;
                font-size: 3.6rem;
                color: $white;
                font-family: $font-play;
                letter-spacing: 3px;
                font-weight: 800;
            }

            .gpu-headset-flexbox {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .gpu-headset-column-wrapper {
                    display: flex;
                    flex-direction: column;

                    .gpu-headset-headerbox {
                        text-align: center;
                        padding: 1rem 0;
                        color: $gpu-color;
                        letter-spacing: 3px;
                        font-weight: 600;
                        font-size: 1.8rem;
                        background: radial-gradient(circle,rgba(31, 31, 31, 0.6965161064425771) 0%,rgba(0, 0, 0, 0.6965161064425771) 100%);

                        .headset-span {
                            color: $headset-color;
                        }
                    }

                    img {
                        max-width: 600px;
                        width: 100%;
                        max-height: 400px;
                        height: 100%;
                        object-fit: cover;
                    }

                    .gpu-button {
                        color: $gpu-color;
                        @include gpu-headset-button();
                    }

                    .headset-button {
                        @include gpu-headset-button();
                        color: $headset-color;
                    }

                    .gpu-button:hover {
                        background: $gpu-color;
                        color: #ffffff;
                    }

                    .headset-button:hover {
                        background-color: $headset-color;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .newsbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250vh;
        font-family: $font-play;

        .news-h {
            margin-bottom: 10rem;
            letter-spacing: .3rem;
            font-size: 3.6rem;
            color: #ffffff;
            font-family: $font-play;
        }

        .ngfor-news {
            display: flex;
            padding: 2rem 0 2rem 0;
            max-width: 70%;
            width: 100%;
            color: $secondary-color;
            border-bottom: 1px solid $secondary-color;
        }

        img {
            max-width: 23rem;
            width: 100%;
            object-fit: cover;
        }

        .news-text-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-left: 1rem;
            cursor: default;
            text-align: center;

            h6 {
                font-size: 2rem;
                transition: all 0.1s linear;
            }

            p {
                width: 70%;
            }
        }
    }

    // Section II

    .section2 {
        // padding-bottom: 100px;
        // display: flex;
        // flex-direction: column;
    }

    .buildbox {
        display: flex;
        flex-direction: column;
        align-items: center;

        .build-h2 {
            margin: 100px 0px 50px 0px;
            font-size: 44px;
            font-family: $font-dosis;
            line-height: 45px;
            letter-spacing: 2px;
            word-wrap: break-word;
            color: white;
        }

        .bigboxgrid {
            color: white;
            font-family: $font-saira;
            font-weight: bold;
            letter-spacing: 2px;
            margin: 50px 0px 100px 0px;
            text-align: center;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(3, minmax(0, 1fr));

            .assemblebox {
                border: 1px solid black;
                border-radius: 2px;
                background-color: rgb(0, 0, 0);
                transition: all 0.125s linear;

                .partbox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    letter-spacing: 1px;

                    img {
                        width: 60px;
                        margin-bottom: 5px;
                    }
                }
            }

            .assemblebox:hover {
                border-color: rgb(160, 0, 160);
            }
        }
    }
}

// Responsive

@media (max-width: 1225px) {
    .pc-image-extreme {
        width: 200px;
    }

    .highendbox {
        padding-bottom: 20px;
    }
}

@media (max-width: 1115px) {
    .pc-grid {
        border-radius: 2px !important;
    }

    .pc-gridbox {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;

        .extreme {
            text-align: center !important;
            margin-left: 40px;
        }

        .specsbox {
            margin-top: 60px;
        }
    }

    .smallgrid {
        padding-bottom: 5px !important;
        border-radius: 2px !important;
    }
}

@media (max-width: 1054px) {
    .pumptextbox {
        padding: 0 !important;
    }

    .pump-h {
        text-align: center;
        line-height: 35px;
    }
}

@media (max-width: 943px) {
    .pump {
        max-width: 300px !important;
        width: 100%;
    }

    .nzxt-rgbbox {
        padding: 0 !important;

        .rgbtextbox {
            padding: 0 !important;
            padding-left: 5px !important;
        }
    }

    .pumptextbox {
        padding: 10px 0px 10px 0px !important;
    }
}

@media (max-width: 778px) {
    .ngfor-news {
        flex-direction: column;
        align-items: center;

        .news-images {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 736px) {
    .pumpbox {
        flex-direction: column;
        padding: 0px 5px 0px 5px;
    }

    .nzxt-rgbbox {
        flex-direction: column-reverse;

        .nzxt-rgb-h {
            text-align: center;
            margin-top: 20px;
        }

        .nzxt-rgb-p {
            line-height: 25px;
        }
    }
}

@media (max-width: 655px) {
    .extremebox {
        .pc-image-extreme {
            width: 250px !important;
            height: 270px !important;
        }
    }
}

@media (max-width: 610px) {
    .nzxt-buy-box {
        flex-direction: column;
        align-items: center;

        .responsivedivider {
            display: block !important;
            margin: 30px 0px 30px 0px;
            width: 100%;
            background-color: white;
        }
    }
}

@media (max-width: 583px) {
    .kraken-h {
        text-align: center;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .h1 {
        line-height: 45px;
    }
}

@media (max-width: 555px) {
    .newmanufacturers-h {
        line-height: 40px;
    }

    .kraken-h {
        text-align: center;
        line-height: 45px;
    }

    .kraken-display {
        text-align: center;
    }
}

@media (max-width: 548px) {
    .extreme {
        text-align: center !important;
    }

    .pc-image-extreme {
        width: 280px;
    }

    .specsbox {
        margin-top: 20px;
    }
}

@media (max-width: 525px) {
    .responsive-pricebox {
        flex-direction: column;

        .pc-button,
        .pc-rx-button {
            margin-top: 15px;
        }
    }
}

@media (max-width: 493px) {
    .pc-grid,
    .smallgrid {
        flex-direction: column;

        .extreme {
            margin-top: 10px;
        }

        .pc-image-extreme,
        .pc-image-highend,
        .pc-image-budget {
            width: 100% !important;
        }

        .specsbox {
            margin: 0 !important;
            margin-top: 50px !important;

            .detailsbox {
                padding: 0px 50px 0px 50px;
            }

            .responsive-detailsbox {
                margin-top: 20px !important;
            }
        }

        .pricebox {
            flex-direction: column;
            align-items: center;

            .pc-price {
                margin: 0px 0px 10px 2px !important;
            }
        }

        .price-buttonbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 25px;

            .pc-button,
            .pc-rx-button {
                margin: 0 !important;
            }
        }

        .pc-hdd {
            margin: 0 !important;
            margin-bottom: 10px !important;
        }

        .margin {
            margin-bottom: 10px !important;
        }
    }
}

@media (max-width: 460px) {
    .assemblebox {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .news-text-box {
        padding: 0 !important;
    }

    .bigboxgrid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}
