$font-play: "Play", sans-serif;
$font-saira: "Saira Condensed", sans-serif;
$font-dosis: "Dosis", sans-serif;

.bodybox {
    background-image: url("/assets/Backgrounds/background-gaming.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .section1 {
        padding: 200px 0px 400px 0px;

        .h1 {
            font-size: 32px;
            text-align: center;
            margin: 100px 0px 500px 0px;
            font-family: $font-play;
        }

        .bigbox {
            background-color: rgba(0, 0, 0, 0.514);

            .mainbox {
                display: flex;
                flex-direction: column;
                align-items: center;

                .browse-h2 {
                    letter-spacing: 3px;
                    font-size: 36px;
                    color: white;
                    font-family: $font-play;
                    font-weight: bold;
                    margin: 50px 0px 70px 0px;
                }

                .browsebigbox {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    padding-bottom: 50px;

                    .browsebox {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 25px;
                        border: 1px solid black;
                        transition: all 0.2s linear;

                        .browsephotos {
                            object-fit: contain;
                            width: 230px;
                            height: 200px;
                            padding: 10px;
                        }

                        .spanbox {
                            display: flex;
                            width: 100%;
                            padding: 15px;
                            margin-top: 20px;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(0, 0, 0, 0.548);

                            .browsespan {
                                width: 110px;
                                text-align: center;
                                padding: 8px 0px 8px 0px;
                                font-family: $font-saira;
                                font-weight: bold;
                                border: 1px solid blue;
                                border-radius: 40px;
                                font-size: 14px;
                                letter-spacing: 2px;
                                color: blue;
                                cursor: pointer;
                                transition: all 0.2s ease-in-out;
                            }

                            .browsespan:hover {
                                background-color: blue;
                                color: black;
                            }
                        }
                    }

                    .browsebox:hover {
                        border-color: blue;
                    }
                }
            }

            .stock-h {
                text-align: center;
                font-size: 36px;
                margin-top: 400px;
                color: white;
                font-family: $font-play;
                letter-spacing: 3px;
                font-weight: bold;
            }

            // Commerce

            .commercebox {
                margin: 100px 0px 400px 0px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                font-family: $font-play;

                .gtx1060box {
                    display: flex;
                    flex-direction: column;

                    .nowinstock {
                        background: rgb(31, 31, 31);
                        background: radial-gradient(
                            circle,
                            rgba(31, 31, 31, 0.6965161064425771) 0%,
                            rgba(0, 0, 0, 0.6965161064425771) 100%
                        );
                        color: white;
                        text-align: center;
                        padding: 20px;
                        letter-spacing: 1px;

                        .gtx1060-span {
                            font-size: 18px;
                            color: rgb(135, 253, 0);
                            letter-spacing: 3px;
                        }
                    }

                    .gtx1060 {
                        max-width: 600px;
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }

                    .buy-1060 {
                        color: rgb(103, 194, 0);
                        padding: 10px;
                        margin-top: 2px;
                        background: black;
                        text-align: center;
                        letter-spacing: 5px;
                        font-weight: bolder;
                        cursor: pointer;
                        transition: all 0.3s linear;
                    }

                    .buy-1060:hover {
                        background: rgb(103, 194, 0);
                        color: black;
                    }
                }

                // Arctis

                .arctisbox {
                    display: flex;
                    flex-direction: column;

                    .newinstock {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        flex-wrap: wrap;
                        max-width: 600px;
                        width: 100%;
                        background: rgb(31, 31, 31);
                        background: radial-gradient(
                            circle,
                            rgba(31, 31, 31, 0.6965161064425771) 0%,
                            rgba(0, 0, 0, 0.6965161064425771) 100%
                        );
                        padding: 20px;
                        letter-spacing: 1px;
                        color: white;

                        .arctis-p {
                            margin-bottom: 5px;
                            font-size: 22px;
                        }

                        .arctis-span {
                            color: blue;
                            letter-spacing: 3px;
                            font-size: 18px;
                        }
                    }

                    .arctis {
                        max-width: 600px;
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                    }

                    .buy-arctis {
                        padding: 10px;
                        margin-top: 2px;
                        color: rgb(0, 0, 168);
                        background: black;
                        text-align: center;
                        letter-spacing: 5px;
                        font-weight: bolder;
                        cursor: pointer;
                        transition: all 0.3s linear;
                    }

                    .buy-arctis:hover {
                        color: black;
                        background-color: rgb(0, 0, 168);
                    }
                }
            }
        }

        // Arrivals

        .newmanufacturers-h {
            margin: 100px 0px 100px 10px;
            font-size: 36px;
            letter-spacing: 3px;
            font-family: $font-play;
            color: white;
            font-weight: bold;
        }

        .manufacturersbox {
            background-image: url('/assets/Backgrounds/nzxt-wallpaper.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $font-saira;

            .kraken-h {
                color: white;
                font-size: 42px;
                border-bottom: 1px solid white;
                letter-spacing: 4px;
                padding: 0px 14px 10px 14px;
                margin-bottom: 10px;
            }

            .kraken-display {
                font-size: 22px;
                letter-spacing: 3px;
                margin-bottom: 50px;
                color: rgb(233, 233, 233);
            }

            // Pump

            .pumpbox {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 100px 0px 100px 0px;
                background-color: rgba(192, 192, 192, 0.705);

                .pump {
                    max-width: 500px;
                    width: 100%;
                }

                .pumptextbox {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 50px 0px 50px;

                    .pump-h {
                        margin-bottom: 15px;
                        font-size: 36px;
                        letter-spacing: 1px;
                    }

                    .pump-p {
                        font-size: 20px;
                        letter-spacing: 1px;
                    }
                }
            }

            // Divider
            .divider {
                width: 90%;
                background-color: white;
                margin: 100px 0px 100px 0px;
            }


            // Rgb

            .nzxt-rgbbox {
                display: flex;
                align-items: center;
                padding: 0px 50px 0px 50px;
                background-color: rgba(192, 192, 192, 0.705);

                .rgbtextbox {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 50px 0px 50px;

                    .nzxt-rgb-h {
                        font-size: 36px;
                        letter-spacing: 2px;
                        margin-bottom: 15px;
                    }

                    .nzxt-rgb-p {
                        font-size: 20px;
                        letter-spacing: 1px;
                    }
                }

                .nzxt-rgb {
                    max-width: 350px;
                    width: 100%;
                }
            }

            // Kraken - Buy

            .buy-now {
                font-size: 34px;
                color: silver;
                letter-spacing: 3px;
                margin-top: 200px;
                padding: 0px 30px 12px 30px;
                border-bottom: 1px solid silver;
            }

            .buy-white {
                font-size: 22px;
                color: silver;
                letter-spacing: 3px;
                margin: 10px 0px 50px 0px;
            }

            .nzxt-buy-box {
                display: flex;
                justify-content: space-around;
                padding-top: 15px;
                background: rgb(196, 196, 196);
                background: radial-gradient(circle, rgba(196, 196, 196, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
                width: 100%;

                .nzxtboxes {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .z73 {
                        width: 250px;
                    }

                    .x73 {
                        width: 250px;
                    }

                    .price-span {
                        font-weight: bold;
                        margin: 20px 0px 20px 0px;
                        font-size: 20px;
                        letter-spacing: 1px;
                        color: white;
                    }

                    .nzxt-span {
                        color: white;
                        font-size: 24px;
                        letter-spacing: 1px;
                    }

                    .span-buy {
                        font-size: 18px;
                        font-weight: bolder;
                        color: white;
                        padding: 5px;
                        margin-bottom: 20px;
                        letter-spacing: 2px;
                        border: 1px solid white;
                        border-radius: 50px;
                        transition: all 0.2s linear;
                        cursor: pointer;
                    }

                    .span-buy:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }

        // News

        .news-h {
            margin: 200px 0px 50px 10px;
            letter-spacing: 3px;
            font-size: 36px;
            color: white;
            font-family: $font-play;
        }

        .newsbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            font-family: $font-play;

            .ngfor-news {
                display: flex;
                max-width: 500px;
                width: 100%;
                padding: 35px 0px 35px 0px;
                max-width: 70%;
                color: gray;
                border-bottom: 1px solid gray;
            }

            .news-images {
                max-width: 230px;
                width: 100%;
                height: 150px;
                object-fit: cover;
            }

            .news-text-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 30px;
                margin-left: 10px;
                cursor: default;
                text-align: center;

                .news-title {
                    font-size: 20px;
                    transition: all 0.1s linear;
                }

                .news-title:hover {
                    color: blue;
                }
            }
        }
    }

    // Build ( Section II )

    .section2 {
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .build-h2 {
            margin: 100px 10px 50px 0px;
            font-size: 44px;
            font-family: $font-dosis;
            letter-spacing: 2px;
            color: white;
        }

        .bigboxgrid {
            color: white;
            font-family: $font-saira;
            font-weight: bold;
            letter-spacing: 2px;
            margin: 50px 0px 100px 0px;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));

            .assemblebox {
                margin: 0px 30px 30px 0px;
                border: 1px solid black;
                border-radius: 5px;
                background-color: rgb(0, 0, 0);
                transition: all 0.125s linear;

                .partbox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    letter-spacing: 1px;

                    .image {
                        width: 60px;
                        margin-bottom: 5px;
                    }
                }
            }

            .assemblebox:hover {
                border-color: rgb(160, 0, 160);
            }
        }
    }
}