.bigbox {
  
  .iconbox {
    display: flex;
    justify-content: flex-end;

    .xmark {
      font-size: 24px;
      cursor: pointer;
    }
  
  }

  .create {
    margin: 10px 0px 20px 0px;
    text-align: center;
    color: gray;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input {
      width: 400px;
      margin: 10px 0px 10px 0px;
    }

    .flexbox {
      width: 400px;
      display: flex;
      justify-content: space-between;

      .firstnameform {
        width: 175px;
      }

      .lastnameform {
        width: 175px;
      }
    }

    .strong {
      text-align: start;
      font-size: 12px;
      margin-top: 50px;
      color: red;
    }

    .button {
      width: 100%;
      padding: 5px 0px 5px 0px;
      margin-top: 10px;
    }
  }
}