.bigbox {
  overflow: auto;
  height: 560px;
}

.iconbox {
  display: flex;
  justify-content: flex-end;

  .xmark {
    font-size: 24px;
    cursor: pointer;
  }
}

.create {
  margin: 10px 0px 20px 0px;
  text-align: center;
  color: gray;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;

  .input {
    width: 100%;
    margin: 7px 0px 7px 0px;
  }

  .flexbox {
    display: flex;
    width: 100%;

    .firstnameform {
      width: 100%;
      margin-right: 4px;
    }

    .lastnameform {
      width: 100%;
      margin-left: 4px;
    }
  }

  .strong {
    text-align: start;
    font-size: 12px;
    color: red;
  }

  .button {
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
  }
}


@media (max-width: 600px) {

  .xmark {
    margin-right: 10px;
  }

  .flexbox {
    flex-direction: column;

    .firstnameform {
      margin: 0 !important;
      margin-bottom: 7px !important;
    }

    .lastnameform {
      margin: 0 !important;
      margin-top: 7px !important;
    }
  }
}